// US Army
$army-bold: "army-bold", sans-serif;
$army-light: "army-light", sans-serif;
$army-regular: "army-regular", sans-serif;

// Aspire
$aspire: "aspire", sans-serif;
$aspire-narrow: "aspire-narrow", sans-serif;
